@import "../bower_components/angular-upload/src/directives/btnUpload.min.css";

body {
    margin-top: 30px;
    background-color: white;
}

#loginbox {
    margin-top: 30px;
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 0;
}

#form > div:first-child {
    padding-top: 30px;
}

.form-group {
    margin-bottom: 0;
}

.panel {
    background-color: transparent;
    padding-bottom: 0;
}

.panel-body {
    background-color: rgba(2555,255,255,.3);
}

.btn-align {
    line-height: 2.5;
    vertical-align: middle;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.spacer {
    margin-top: 10px;
}