<html ng-app="app">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>AR project</title>

        <link rel="stylesheet" href="static/css/bootstrap.min.css">

        <!-- Bower -->
        <link
                rel="stylesheet"
                href="static/bower_components/angular-xeditable/dist/css/xeditable.css">
        <link
                rel="stylesheet"
                href="static/bower_components/components-font-awesome/css/font-awesome.min.css">

        <!-- Application styles -->
        <link rel="stylesheet" href="static/css/style.css">

        <!-- Google fonts -->
        <link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext">
    </head>

    <body>
        <div ng-controller="ModelsTableCtrl">
            <div class="container">
                <!-- Menu -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4>
                                    <strong>
                                        Панель управления 3D моделями
                                    </strong>
                                </h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div
                                    class="btn-group"
                                    role="group"
                                    aria-label="menu">
                                <button
                                        type="button"
                                        class="btn btn-default"
                                        title="Добавить модель"
                                        ng-click="addModel()">
                                    <i
                                            class="fa fa-plus"
                                            aria-hidden="true">
                                    </i> Добавить модель
                                </button>

                                <button
                                        type="button"
                                        class="btn btn-default"
                                        title="Выйти"
                                        onclick="window.location.href='/logout'">
                                    <i
                                            class="fa fa-sign-out"
                                            aria-hidden="true">
                                    </i> Выйти
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Table -->
                <div class="row">
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-condensed">
                                <thead>
                                    <tr class="active">
                                        <th class="col-xs-2 col-md-1"></th>

                                        <th
                                                class="text-center col-xs-1 col-md-2"
                                                style="vertical-align:top;">
                                            2D изображение
                                        </th>

                                        <th
                                                class="text-center col-xs-2 col-md-2"
                                                style="vertical-align:top;">
                                            Название
                                        </th>

                                        <!--<th class="text-center col-xs-2 col-md-2">-->
                                        <!--    Загрузить 3D модель <br> .fbx или .obj-->
                                        <!--</th>-->

                                        <!--<th class="text-center col-xs-2 col-md-2">-->
                                        <!--    Загрузить текстуру <br> .png или .jpg-->
                                        <!--</th>-->

                                        <th class="text-center col-xs-2 col-md-2">
                                            Загрузить 3D модель <br> .zip
                                        </th>

                                        <th
                                                class="text-center col-xs-2 col-md-2"
                                                style="vertical-align:top;">
                                            Дата загрузки
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="model in models">
                                        <!-- Buttons -->
                                        <td align="center">
                                            <div ng-if="model.is_edited">
                                                <div
                                                        class="btn-group-vertical"
                                                        role="group"
                                                        aria-label="edit-row">
                                                    <button
                                                            type="submit"
                                                            title="Сохранить"
                                                            class="btn btn-default"
                                                            ng-click="saveModel($index)">
                                                        <i
                                                                class="fa fa-floppy-o"
                                                                aria-hidden="true">
                                                        </i> Сохранить
                                                    </button>

                                                    <button
                                                            type="button"
                                                            title="Отменить"
                                                            class="btn btn-default"
                                                            ng-click="cancelModel($index)">
                                                        <i
                                                                class="fa fa-undo"
                                                                aria-hidden="true">
                                                        </i> Отменить
                                                    </button>
                                                </div>
                                            </div>

                                            <div ng-if="!model.is_edited">
                                                <div
                                                        class="btn-group-vertical"
                                                        role="group"
                                                        aria-label="edit-row">
                                                    <button
                                                            type="button"
                                                            title="Редактировать"
                                                            class="btn btn-default"
                                                            ng-click="editModel($index)">
                                                        <i
                                                                class="fa fa-pencil"
                                                                aria-hidden="true">
                                                        </i> Редактировать
                                                    </button>

                                                    <button
                                                            type="button"
                                                            title="Удалить"
                                                            class="btn btn-default"
                                                            ng-click="removeModel($index)">
                                                        <i
                                                                class="fa fa-trash"
                                                                aria-hidden="true">
                                                        </i> Удалить
                                                    </button>
                                                </div>
                                            </div>
                                        </td>

                                        <!-- Preview -->
                                        <td  align="center">
                                            <img data-ng-src="{{model.preview.content|angular}}"/>

                                            <div
                                                    ng-if="model.is_edited"
                                                    class="spacer">
                                                <div class="btn btn-default btn-upload">
                                                    <input
                                                            type="file"
                                                            accept="image/*"
                                                            file-read="model.preview"/>
                                                    Выбрать
                                                </div>

                                            </div>
                                        </td>

                                        <!-- Name -->
                                        <td align="center">
                                            <div ng-if="model.is_edited">
                                                <input
                                                        type="text"
                                                        name="name_input"
                                                        ng-model="model.name"
                                                        required>
                                            </div>

                                            <div ng-if="!model.is_edited">
                                                <p class="text-center">
                                                    {{ model.name | angular }}
                                                </p>
                                            </div>
                                        </td>

                                        <!-- Mesh -->
                                        <!--<td align="center">-->
                                        <!--    <p class="text-center">-->
                                        <!--        {{model.mesh.name|angular}}-->
                                        <!--    </p>-->

                                        <!--    <div-->
                                        <!--            ng-if="model.is_edited"-->
                                        <!--            class="spacer">-->
                                        <!--        <div class="btn btn-default btn-upload">-->
                                        <!--            <input-->
                                        <!--                    type="file"-->
                                        <!--                    file-read="model.mesh"/>-->
                                        <!--            Выбрать-->
                                        <!--        </div>-->

                                        <!--    </div>-->
                                        <!--</td>-->

                                        <!-- Texture -->
                                        <!--<td  align="center">-->
                                        <!--    <img data-ng-src="{{model.texture.thumbnail|angular}}"/>-->

                                        <!--    <div-->
                                        <!--            ng-if="model.is_edited"-->
                                        <!--            class="spacer">-->
                                        <!--        <div class="btn btn-default btn-upload">-->
                                        <!--            <input-->
                                        <!--                    type="file"-->
                                        <!--                    accept="image/*"-->
                                        <!--                    file-read="model.texture"/>-->
                                        <!--            Выбрать-->
                                        <!--        </div>-->

                                        <!--    </div>-->
                                        <!--</td>-->

                                        <!-- Zip file -->
                                        <td align="center">
                                            <p class="text-center">
                                                {{model.zipfile.name|angular}}
                                            </p>

                                            <div
                                                    ng-if="model.is_edited"
                                                    class="spacer">
                                                <div class="btn btn-default btn-upload">
                                                    <input
                                                            type="file"
                                                            file-read="model.zipfile"/>
                                                    Выбрать
                                                </div>

                                            </div>
                                        </td>

                                        <!-- Date -->
                                        <td>
                                            <p class="text-center">
                                                {{ model.date|angular }}
                                            </p>
                                            <p class="text-center">
                                                {{ model.time|angular }}
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<p>Click <a href="/logout">here</a> to logout.</p>-->
        <!--    {% for message in get_flashed_messages() %}-->
        <!--        {{ message }}-->
        <!--    {% endfor %}-->

        <!-- Bootstrap: jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous">
        </script>

        <!-- Latest compiled and minified Angular ONE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>-->

        <!-- Bower -->
        <!--<script src="static/bower_components/angular-thumbnail/angular-thumbnail.min.js"></script>-->
        <script src="static/bower_components/angular-uuid/angular-uuid.js"></script>
        <script src="static/bower_components/angular-images-resizer/angular-images-resizer.js"></script>
        <!--<script src="static/bower_components/angular-upload/angular-upload.min.js"></script>-->
        <!--<script src="static/bower_components/ng-file-upload/ng-file-upload.min.js"></script>-->

        <!-- Application: Javascript -->
        <script type="text/javascript" src="static/js/app.js"></script>
    </body>

</html>
