<html>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>AR project</title>

        <link rel="stylesheet" href="static/css/bootstrap.min.css">

        <!-- Bower -->
        <link
                rel="stylesheet"
                href="static/bower_components/components-font-awesome/css/font-awesome.min.css">

        <!-- Application styles -->
        <link rel="stylesheet" href="static/css/style.css">

        <!-- Google fonts -->
        <link
                rel="stylesheet"
                href="https://fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext">
    </head>

    <body>
        <div class="container">
            <div
                    id="loginbox"
                    class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title text-center">
                            <h4><strong>Вход в панель управления</strong></h4>
                        </div>
                    </div>

                    <div class="panel-body">
                        <form
                                name="form"
                                id="form"
                                class="form-horizontal"
                                action=""
                                method="post">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>

                                <input
                                        id="user"
                                        type="text"
                                        class="form-control"
                                        name="username"
                                        placeholder="Логин"
                                        value="{{ request.form.username }}">
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-key" aria-hidden="true"></i>
                                </span>

                                <input
                                        id="password"
                                        type="password"
                                        class="form-control"
                                        name="password"
                                        placeholder="Пароль"
                                        value="{{ request.form.password }}">
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9 controls">
                                    {% if error %}
                                        <span class="text-danger  btn-align">
                                            <strong> {{ error }} </strong>
                                        </span>
                                    {% endif %}

          <!--                          {% for message in get_flashed_messages() %}
                                            {{ message }}
                                    {% endfor %}-->
                                </div>

                                <div class="col-sm-3 controls">
                                    <button
                                            type="submit"
                                            class="btn btn-default pull-right">
                                        <i
                                                class="fa fa-sign-in"
                                                aria-hidden="true">
                                        </i>
                                        Войти
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap: jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Application: Javascript -->
        <!--<script type="text/javascript" src="static/script.js"></script>-->
    </body>

</html>
